statemachine/setup_fsx.asl.json
{
    "StartAt": "Create",
    "States": {
      "Create": {
        "Type": "Task",
        "Resource": "${SetupFSxFunctionArn}",
        "Parameters": {
          "operation": "create",
          "team.$": "$.team",
          "bucket.$": "$.bucket"
        },
        "ResultPath": "$.fsx",
        "TimeoutSeconds": 60,
        "Next": "Check Status"
      },
      "Available?": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.fsx.status",
            "StringEquals": "AVAILABLE",
            "Next": "Succeed"
          },
          {
            "Variable": "$.fsx.status",
            "StringEquals": "DELETING",
            "Next": "Wait"
          },
          {
            "Variable": "$.fsx.status",
            "StringEquals": "CREATING",
            "Next": "Wait"
          },
          {
            "Variable": "$.fsx.status",
            "StringEquals": "MISCONFIGURED",
            "Next": "Failed"
          },
          {
            "Variable": "$.fsx.status",
            "StringEquals": "UPDATING",
            "Next": "Wait"
          }
        ]
      },
      "Wait": {
        "Type": "Wait",
        "Seconds": 60,
        "Next": "Check Status"
      },
      "Succeed": {
        "Type": "Succeed"
      },
      "Failed": {
        "Type": "Fail",
        "Cause": "Data Repository Misconfigured"
      },
      "Check Status": {
        "Type": "Task",
        "Resource": "${SetupFSxFunctionArn}",
        "Parameters": {
          "operation": "status",
          "file_system_id.$": "$.fsx.id"
        },
        "Catch": [
          {
            "ErrorEquals": [
              "FileSystemNotFound"
            ],
            "ResultPath": "$.error-info",
            "Next": "Create"
          }
        ],
        "ResultPath": "$.fsx.status",
        "TimeoutSeconds": 60,
        "Next": "Available?"
      }
    }
  }